<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aws4RequestSigner" version="1.0.3" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.105.6" targetFramework="net472" />
  <package id="AWSSDK.SecurityToken" version="3.7.101.12" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>